* {
  margin: 0;
}

.App {
  text-align: center;
}

/* Header */
.header{
  padding-top: 10px;
  background-color: beige;
  color: brown;
  height: 90px;
}
.header>ul{
  padding: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header>ul>li{
  padding: 0;
  margin: 0 20px;
  font-weight: 700;
  font-size: 18px;
  color: black;
  cursor: pointer;
}
/* -------------------- */

/* Body */
.home, .comp{
  background-color: azure;
  height: 500px;
}
/* -------------------- */

/* Footer*/
.footer{
  background-color: bisque;
  height: 100px;
}
/* -------------------- */